<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- seo -->
<meta name="title" content="Silent">
<meta name="keywords" content="silent,anonymous,friend,mask,message,IM">
<meta name="description" content="Here you face all your real friends with a mask. You talk to each other, but they don't know who you are. Is that fun? Enjoy it.">
<meta name="robots" content="all">

<title>silent项目</title>

<!--
<link href="/stylesheets/style.css" rel="stylesheet" media="screen">
-->
<script src="/javascripts/jquery-1.9.1.min.js"></script>

</head>
<body>
 <div id="contain">

